
body {
    height: 100%;
    font-family: "Press Start 2P";
    background-color: black;
    color:$green;
    text-shadow: 2px 2px 3px;
    font-size: 16px;
    line-height: 22px;
}

a {
    transition: all 0.5s;
}

